* {
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}
a:link {
    color: black; 
}
   a:visited {
    color: black; 
}
a:hover {
	color: navy;
}
a:active {
	color: white;
}
body {
	background-color: rgba(240, 132, 132, 0.1);
}
.wrapper  > div {
	box-sizing: border-box;
}
.navbar {
	background: black;
	width: 100%;
		box-sizing: border-box;
	-moz-box-sizing: border-box;

}
.navbar > input {
	height: 60px;
	width: 90%
}
.navbar > a {
	color: white;
	display: inline;
}
/* input: active {
	color: black;
}
input: hover {
	color: black;
}
*/

