* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

a{
		text-decoration: none;
	}
a:link {
		color: black; 
	}
a:visited {
		color: black; 
	}
a:hover {
		color: rgb(0, 0, 0);
		font-size: 1.03rem;
	}
a:active {
		color: white;
	}
input:focus::placeholder {
		opacity: 0;
	}
input {
		outline:none;
	}
body {
		background-color: rgba(255, 255, 255, 0.91);

	}
/*shapochka*/
.head {
		display: flex;
		align-items: center;
		justify-content: center;
		background: black;
		width: 100%;
		position: relative;
		}
li {
		list-style-type: none;
		margin-bottom: 15px;
	}
/*poisk v header*/
.head > input {
		flex-grow: 1;
		margin: 5px;
		padding: 10px;
		background-color: #2e2e2e;
		border: 0;
		color: white;
		font-size: 1.4em;
	}
/*menu only*/
.sidebar {
	margin-top: 5px;
	background-color: rgb(255, 255, 255);
	width: 100px;
	text-align: center;
}
/*bolshoe slovo registration*/
.reg {
	font-size: 2em;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

/*registration and inputs only*/
.wrapper.input {
	position: absolute;
	right: 110px;
	text-align: center;
	
}
/*меню + регистрация*/
.wrapper.content {
		display: flex;
		align-items: center;
		top: 10px;
		width: 500px;
		position: relative;
	}
/*чтобы поиск изменялся при фокусе*/
.head > input:focus {
		background-color: white;
		color: black;
	}
	

	/* links in header*/
.head > a {
		color: white;
		font-size: 1.6em;
		white-space: nowrap;
		
	}

li > a {
	font-family: georgia;
}
/*knopochka*/
.form button {
	border: 10;
	border-color: #423434;
	padding: 0 10px;
	background-color: #7a6363;
	color: white;
	width: 100px;
	text-align: center;
	cursor: pointer;
	outline:none;
	margin-top: 10px;
}
/*privaty policy*/
.priv_pol {
	color: black;
}
.priv_pol:hover {
	color: black;
	font-size: 1rem;
}
